body {
    background-color: #272727;
    color: #ffffff;
    font-family: BCcardB;
}
#btn{
    /** 윤곽선 */
    border: 3px solid transparent;
    background: linear-gradient(#272727,#272727) padding-box, linear-gradient(to right, rgb(69, 138, 165), rgb(33, 129, 93)) border-box;
    /** 모서리 둥글게 */
    border-radius: 25px;

    margin: 20px auto;

    color: #ffffff;
    font-family: BCcardL;
    padding: 10px;
}
#btn:active{ /* 버튼 눌렀을 때 효과 */
    background: linear-gradient(#757575,#757575) padding-box, linear-gradient(to right, rgb(69, 138, 165), rgb(33, 129, 93)) border-box;
}
.movieBox{
    margin: 0.5em 0.5em;
}
#myMovieTitle{
    font-size: 1.7em;
    margin-bottom: 0.5em;
}
#myMovie{    
    font-size: 1em;
}